@font-face {
  font-family: 'Maison Neue';
  src: url(fonts/maison-neue-light.ttf);
}

@font-face {
  font-family: 'Gurmukhi';
  src: url(GurmukhiMN-01.ttf);
}


body {
color: white;
width: 100%;
height: 100%;
overflow-x: hidden;
overflow-y: visible; /* change to hidden */
margin:0;
opacity: 0;
transition: opacity .10s;
}

.mtrk-header {
position:fixed;
width:100%;
height:40px;
top:0;
border-bottom: 0.5px solid black;
color: black;
z-index: 3;
background-color: white;
}

.mtrk-sidebar {
display: none;
position:fixed;
width:6%;
height: 100%;
top:0;
margin-left: 20px;
text-align: center;
animation-name: fadeInLeft;
animation-duration: 2s;
}

.title {
font-family: 'Gurmukhi', serif;
font-size: 26px;
letter-spacing: 0.07rem;
margin: 0;
margin-left: 20px;
cursor: pointer;
}

.right-bar {
float:right;
width:60%;
text-transform: uppercase;
font-family: 'Maison Neue', serif;
position: relative;
font-size: 0.7rem;
margin-top:16px;
}

.right-bar a {
font-size: 0.7rem;
margin-right: 25px;
letter-spacing: 0.75rem;
}
.right-bar a:last-child {
margin-right: 0;

}
.left-bar {
float:left;
width:20%;
height: 40px;
}

#sideline {
margin-top: 100px;
width:50px; /* you can use % */
height: 70%;
}

.mtrskimg {
position: relative;
top:-65%;
margin-bottom: 20px;
}

#mtrsk1 {
width: 82%;
}

#mtrsk2 {
width: 70%;
}

#mtrsk3 {
width: 60%;
margin-right: 20%;
margin-left: 20%;
}

#mtrsk4 {
width: 50%;
margin-right: 25%;
margin-left: 25%;
}

#mtrsk5 {
width: 40%;
margin-right: 30%;
margin-left: 30%;
}

input {
border: none;
outline: none;
}


.intro {
font-family: 'Maison Neue';
display: block;
margin-left: 15%;
margin-bottom: 35%;
width:80%;
color: black;
z-index: 1;
margin-top: 140px;
text-align: center;
text-justify: inter-word;
}

#content01 {
opacity:0;
}

.content {
font-family: 'Maison Neue';
display: block;
opacity:1;
margin-left: 10%;
width:80%;
color: black;
z-index: 1;
text-align: justify;
text-justify: inter-word;
text-align:center;
padding-top: 40px;
}

.intro p{
text-align:center;
font-family: 'Maison Neue';
font-size: 40px;
margin-right:20%;
margin-left:7%;
}

.intro p img{
margin: auto;
animation: blinker 2.5s linear infinite;
-webkit-animation: fade_move_down 4s ease-in-out infinite;
}

.arrow {
width: 7%;
height: auto;
margin-right:20%;
margin-left:7%;

}

.test {
  position: relative;
}

.test2 {
  position: relative;
}


.test:after {
  opacity: 0;
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo element right under the content */
  top: 0;
  left: 0;
  background: linear-gradient(to top, #e8cdda  70%, transparent 30%);
  animation-name: highlight;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
  animation-iteration-count: finite;
  }
  
  .test2:after {
  opacity: 0;
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo element right under the content */
  top: 0;
  left: 0;
  background: linear-gradient(to top, #c4ddda  70%, transparent 30%);
  animation-name: highlight;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 2500ms;
  animation-iteration-count: finite;

  }

@keyframes highlight {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }

}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(0deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(0deg); opacity: 0; }
}


@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-50px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}   

@keyframes fadeOutLeft {
   0% {
      opacity: 1;
      transform: translateX(0px);
   }
   100% {
      opacity: 0;
      transform: translateX(-50px);
   }
} 


/* ----------------------------- 100 PICTOGRAMS CHART ----------------------------- */

.pictchart {
margin-top: 5%;
width: 100%;
height: 650px;
display: block;
}

.container {
height: 100%;
width: 60%;
margin-left:20%;
display:inline;
float:left;
text-align:center;
}

.container .line img{
width: 30px;

}

.container img:hover{
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
  position: relative;
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 4;
}   

.divider1 ~ img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.divider1 ~ img:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 
}

.divider1 ~ img:hover + .hide {
display: none;
}


.hide {
  display: none;
}

img:hover + .hide {
  display: inline-block;
  width: 0px;
  position: relative;
  left: -28px;
  top:5px;
  color: white;
  z-index: 5;
}

/* ----------------------------- COUNTING NUMBER  ----------------------------- */


.content01 p {
text-align: center;
    font-family: 'Maison Neue';
    font-size: 30px;
    margin-right: 7%;
    margin-left: 7%;}
    
.count{
  font-weight: bold;

}


/* ----------------------------- RESPONSIVE DESIGN  ----------------------------- */

@media screen and (max-width: 800px) {

	.right-bar a {
	font-size: 0.6rem;
	margin-right: 25px;
	letter-spacing: 0.24rem;
	}

	
	.mtrk-sidebar {
	display: none;
	position:fixed;
	width:100%;
	height: 9%;
	bottom:0;
	top:auto;
	left:0;
	margin-left: 0px;
	text-align: cente1;
	animation-name: fadeInLeft;
	animation-duration: 2s;
	background-color:white;
	border-top: 1px solid black;
	}

	
	#sideline {
	margin-top:0px;
	width:50px; /* you can use % */
	height: 70%;
	display:none;
	}

	.mtrskimg {
	position: relative;
	margin:0;
	}

	#mtrsk1 {
	height: 80%;
	width:auto;
	display: inline;
	margin:0;
	margin-right:10px;
	margin-left:0px;
	margin-top:45px;
	}

	#mtrsk2 {
	height: 70%;
	width:auto;
	display: inline;
	margin:0;
	margin-right:10px;
	margin-left:10px;
	margin-top:40px;
	}

	#mtrsk3 {
	height: 60%;
	width:auto;
	display: inline;
	margin:0;
	margin-right:10px;
	margin-left:10px;
	margin-top:40px;
	}

	#mtrsk4 {
	height: 50%;
	width:auto;
	display: inline;
	margin:0;
	margin-right:10px;
	margin-left:10px;
	margin-top:40px;
	}

	#mtrsk5 {
	height: 40%;
	width:auto;
	display: inline;
	margin:0;
	margin-left:10px;
	margin-top:40px;
	}


}

@media screen and (max-width: 600px) {

	
}
